:root {
    --primary: #024B95;
    --primary-rgb: 2, 75, 149;
    --secondary: #ffffff;
    --black: #000000;
    --light-black: rgb(51, 51, 51);
    --grey: #e5e5e5;
    --grey-dark: #818B9D;
    --danger: #ff0000;
    --danger-dark: #b70000;
    --success: #00ff00;
    --warning: #ffff00;
    --info: #00ffff;
    --white: #ffffff;
    --font-size-a: 16px;
    --font-size-p: 16px;
    --font-size-p-secondary: 13px;
    --font-size-h3: 17px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    background-color: #F2F7FA;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.admin-container {
    display: block;
    max-width: 1850px;
    margin: 0 250px 0 auto;
    padding: 0 10px;
    z-index: 1;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: var(--font-size-p);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary);
}

.btn-secondary {
    display: block;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    padding: 3px 0;
    border-radius: 50px;
    font-size: var(--font-size-p-secondary) !important;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-grey {
    display: block;
    text-align: center;
    background-color: var(--light-black);
    color: var(--secondary) !important;
    padding: 3px 0;
    border-radius: 50px;
    font-size: var(--font-size-p-secondary) !important;
    text-decoration: none;
}

.btn-grey:hover {
    background-color: var(--secondary);
    color: var(--light-black) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-danger:hover {
    background-color: var(--danger-dark);
}

/* LOGIN/REGISTER FORM */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-layout {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 250px;
}

.form-layout label {
    position: relative;
    margin-left: 10px;
    margin-bottom: -30px;
    color: var(--black);
}

.form-layout input {
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 8px;
    padding: 35px 0 10px 10px;
    width: 100%;
}

.form-layout input:focus {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.form input[type="submit"] {
    border: none;
    font-weight: 500;
    font-size: 16px !important;
    border-radius: 50px;
    padding: 10px 75px;
    cursor: pointer;
}

/* Admin Page */
.admin {
    position: relative;
    padding-top: 150px;
}

.admin-item-nav-container {
    display: flex;
    border-bottom: 2px solid var(--grey);
}

.admin-item-nav-item {
    margin: 0 10px;
    font-weight: 500;
    cursor: pointer;
}

.admin-item-nav-container > .active {
    color: var(--primary);
}

.admin-item-info {
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin-item-info form {
    width: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--secondary);
    border-radius: 8px;
}

.admin-item-info span {
    font-weight: 600;
}

.admin-item-info a {
    color: var(--grey-dark);
    font-weight: 500;
    text-decoration: none;
}

.admin table {
    background-color: var(--secondary);
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.admin table th {
    color: var(--black);
    padding: 10px 0 10px 15px;
    border-bottom: 2px solid var(--grey);
}

.admin table td {
    padding: 10px 0 10px 15px;
}

.admin table tr {
    border-radius: 8px;
    margin: 10px;
}

.admin table tr:nth-child(even) {
    background-color: var(--grey);
}

.admin-table-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.admin table td a {
    text-decoration: none;
    color: var(--black);
}

.admin table td button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--danger);
}

/* CREATE PC */
.create-pc {
    padding-top: 150px;
}

.create-pc form {
    /* background-color: red; */
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--secondary);
    border-radius: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 45%;
}

.form-group input {
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 8px;
    outline: none;
}

.form-group input:focus {
    border: 1px solid var(--primary);
}

.form-group select {
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 8px;
    outline: none;
}

.form-group select:focus {
    border: 1px solid var(--primary);
}









































































/* ERRORS */
.alert {
    border-radius: 8px;
    border: 2px solid var(--danger);
    display: block;
    background-color: rgba(183, 0, 0, 0.2);
    color: #000000;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.alert > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}